<input type="hidden" name="csrfmiddlewaretoken" value="gDaS9hZcbmQnaxKDQZju5OWt4sUCP4eiNpyslijMdcxqfiglxyPhYUGnce5mhbp7">
<br><br><br>
<h2>Создаем/редактируем локальный профиль</h2>


<div class="container-fluid">

  <br><h3>Имя профиля</h3><br>

  <div class="row">
    <div class="row row-cols-3">

      <div class="form-group">
        <label class="control-label" for="id_company_type">Форма собственности:</label>
        <input class="form-control" placeholder='ООО' type="text" name="company_type" maxlength="250" required="" value="{{ companyloc.company_type }}" id="id_company_type">
        <label class="control-label" for="id_company_type"><small>Введите "ООО", "ИП", "Физлицо", "ЗАО", "АО", "ОАО"</small></label>
        <div><br></div>
      </div>

      <div class="form-group">
        <label class="control-label" for="id_company_name">Имя компании:</label>
        <input class="form-control" disabled placeholder='Мастодонт' type="text" name="company_name" maxlength="250" required="" value="{{ companyloc.company_name }}" id="id_company_name">
        <label class="control-label" for="id_company_name"><small>Тут комментарий по заполнению</small></label>
        <div><br></div>
      </div>

    </div>
  </div>

  <br><h3>Представитель</h3><br>

  <div class="row">
    <div class="row row-cols-3">

      <div class="form-group">
        <label class="control-label" for="id_pos_per_acc">Должность и ФИО в род. падеже:</label>
        <input class="form-control" disabled placeholder='генерального директора Христозопуло Давида Виссарионовича' type="text" name="pos_per_acc" maxlength="250" required="" value="{{ companyloc.pos_per_acc }}" id="id_pos_per_acc">
        <label class="control-label" for="id_pos_per_acc"><small>Тут комментарий по заполнению</small></label>
        <div><br></div>
      </div>

      <div class="form-group">
        <label class="control-label" for="id_position_nom">Должность представителя в им. падеже:</label>
        <input class="form-control" disabled placeholder='Генеральный директор' type="text" name="position_nom" maxlength="250" required="" value="{{ companyloc.position_nom }}" id="id_position_nom">
        <label class="control-label" for="id_position_nom"><small>Тут комментарий по заполнению</small></label>
        <div><br></div>
      </div>

      <div class="form-group">
        <label class="control-label" for="id_person_nom">ФИО представителя в им. падеже:</label>
        <input class="form-control" placeholder='Христозопуло Давид Виссарионович' type="text" name="person_nom" maxlength="250" required="" value="{{ companyloc.person_nom }}" id="id_person_nom">
        <label class="control-label" for="id_person_nom"><small>Тут комментарий по заполнению</small></label>
        <div><br></div>
      </div>

      <div class="form-group">
        <label class="control-label" for="id_acting_on">Действует на основании (род. падеж):</label>
        <input class="form-control" disabled placeholder='Устава' type="text" name="acting_on" maxlength="250" required="" value="{{ companyloc.acting_on }}" id="id_acting_on">
        <label class="control-label" for="id_acting_on"><small>Тут комментарий по заполнению</small></label>
        <div><br></div>
      </div>

      <div class="form-group">
        <label class="control-label" for="id_passport_series">Серия паспорта:</label>
        <input class="form-control" disabled placeholder='4089' type="text" name="passport_series" maxlength="250" required="" value="{{ companyloc.passport_series }}" id="id_passport_series">
        <label class="control-label" for="id_passport_series"><small>Тут комментарий по заполнению</small></label>
        <div><br></div>
      </div>

      <div class="form-group">
        <label class="control-label" for="id_passport_number">Номер паспорта:</label>
        <input class="form-control" disabled placeholder='956142' type="text" name="passport_number" maxlength="250" required="" value="{{ companyloc.passport_number }}" id="id_passport_number">
        <label class="control-label" for="id_passport_number"><small>Тут комментарий по заполнению</small></label>
        <div><br></div>
      </div>

      <div class="form-group">
        <label class="control-label" for="id_pass_issued_by">Кем выдан паспорт, в род. падеже:</label>
        <input class="form-control" disabled placeholder='Отделом милиции №12 Невского р-на г. СПб' type="text" name="pass_issued_by" maxlength="250" required="" value="{{ companyloc.pass_issued_by }}" id="id_pass_issued_by">
        <label class="control-label" for="id_pass_issued_by"><small>Тут комментарий по заполнению</small></label>
        <div><br></div>
      </div>

      <div class="form-group">
        <label class="control-label" for="id_pass_issued_date">Дата выдачи паспорта:</label>
        <input class="form-control" disabled placeholder='26.12.2000' type="text" name="pass_issued_date" maxlength="50" required="" value="{{ companyloc.pass_issued_date }}" id="id_pass_issued_date">
        <label class="control-label" for="id_pass_issued_date"><small>Тут комментарий по заполнению</small></label>
        <div><br></div>
      </div>

      <div class="form-group">
        <label class="control-label" for="id_pass_issued_code">Код подразделения, выдавшего паспорт:</label>
        <input class="form-control" disabled placeholder='817-512' type="text" name="pass_issued_code" maxlength="250" required="" value="{{ companyloc.pass_issued_code }}" id="id_pass_issued_code">
        <label class="control-label" for="id_pass_issued_code"><small>Тут комментарий по заполнению</small></label>
        <div><br></div>
      </div>

    </div>
  </div>

  <br><h3>Контакты</h3><br>

  <div class="row">
    <div class="row row-cols-3">

      <div class="form-group">
        <label class="control-label" for="id_legal_addr">Юридический адрес:</label>
        <input class="form-control" disabled placeholder='603001, г. Н. Новгород, ул. Кожевенная, дом 4, оф. 9' type="text" name="legal_addr" maxlength="500" required="" value="{{ companyloc.legal_addr }}" id="id_legal_addr">
        <label class="control-label" for="id_legal_addr"><small>Тут комментарий по заполнению</small></label>
        <div><br></div>
      </div>

      <div class="form-group">
        <label class="control-label" for="id_registration_addr">Адрес регистрации физлица/ИП:</label>
        <input class="form-control" disabled placeholder='603001, г. Н. Новгород, ул. Кожевенная, дом 4, оф. 9' type="text" name="registration_addr" maxlength="500" required="" value="{{ companyloc.registration_addr }}" id="id_registration_addr">
        <label class="control-label" for="id_registration_addr"><small>Тут комментарий по заполнению</small></label>
        <div><br></div>
      </div>

      <div class="form-group">
        <label class="control-label" for="id_postal_addr">Почтовый адрес:</label>
        <input class="form-control" placeholder='603001, г. Н. Новгород, ул. Кожевенная, дом 4, оф. 9' type="text" name="postal_addr" maxlength="500" value="{{ companyloc.postal_addr }}" id="id_postal_addr">
        <label class="control-label" for="id_postal_addr"><small>Тут комментарий по заполнению</small></label>
        <div><br></div>
      </div>

      <div class="form-group">
        <label class="control-label" for="id_tel">Телефон:</label>
        <input class="form-control" placeholder='+7 (954) 754-65-78' type="text" name="tel" maxlength="25" required="" value="{{ companyloc.tel }}" id="id_tel">
        <label class="control-label" for="id_tel"><small>Тут комментарий по заполнению</small></label>
        <div><br></div>
      </div>

      <div class="form-group">
        <label class="control-label" for="id_email">E-mail:</label>
        <input class="form-control" placeholder='papa@gsx.com' type="text" name="email" maxlength="25" required="" value="{{ companyloc.email }}" id="id_email">
        <label class="control-label" for="id_email"><small>Тут комментарий по заполнению</small></label>
        <div><br></div>
      </div>

    </div>
  </div>

  <br><h3>Банковские реквизиты</h3><br>

  <div class="row">
    <div class="row row-cols-3">

      <div class="form-group">
        <label class="control-label" for="id_bank_name">Название банка:</label>
        <input class="form-control" placeholder='Точка ПАО Банка "ФК Открытие"' type="text" name="bank_name" maxlength="500" required="" value="{{ companyloc.bank_name }}" id="id_bank_name">
        <label class="control-label" for="id_bank_name"><small>Тут комментарий по заполнению</small></label>
        <div><br></div>
      </div>

      <div class="form-group">
        <label class="control-label" for="id_bic">БИК:</label>
        <input class="form-control" placeholder="044568399" type="text" name="bic" maxlength="500" required="" value="{{ companyloc.bic }}" id="id_bic">
        <label class="control-label" for="id_bic"><small>Тут комментарий по заполнению</small></label>
        <div><br></div>
      </div>

      <div class="form-group">
        <label class="control-label" for="id_curr_acc">Расчетный счет:</label>
        <input class="form-control" placeholder="40702818573540176639" type="text" name="curr_acc" maxlength="100" required="" value="{{ companyloc.curr_acc }}" id="id_curr_acc">
        <label class="control-label" for="id_curr_acc"><small>Тут комментарий по заполнению</small></label>
        <div><br></div>
      </div>

      <div class="form-group">
        <label class="control-label" for="id_corr_acc">Корреспондентский счет:</label>
        <input class="form-control" placeholder="30101816487910000999" type="text" name="corr_acc" maxlength="100" required="" value="{{ companyloc.corr_acc }}" id="id_corr_acc">
        <label class="control-label" for="id_corr_acc"><small>Тут комментарий по заполнению</small></label>
        <div><br></div>
      </div>

    </div>
  </div>

  <br><h3>Коды</h3><br>

  <div class="row">
    <div class="row row-cols-3">

      <div class="form-group">
        <label class="control-label" for="id_inn">ИНН:</label>
        <input class="form-control" placeholder="7810969283" type="text" name="inn" maxlength="100" required="" value="{{ companyloc.inn }}" id="id_inn">
        <label class="control-label" for="id_inn"><small>Тут комментарий по заполнению</small></label>
        <div><br></div>
      </div>

      <div class="form-group">
        <label class="control-label" for="id_kpp">КПП:</label>
        <input class="form-control" disabled placeholder="781153001" type="text" name="kpp" maxlength="100" required="" value="{{ companyloc.kpp }}" id="id_kpp">
        <label class="control-label" for="id_kpp"><small>Тут комментарий по заполнению</small></label>
        <div><br></div>
      </div>

      <div class="form-group">
        <label class="control-label" for="id_ogrn">ОГРН(ИП):</label>
        <input class="form-control" disabled placeholder="1114237284031" type="text" name="ogrn" maxlength="100" required="" value="{{ companyloc.ogrn }}" id="id_ogrn">
        <label class="control-label" for="id_ogrn"><small>Тут комментарий по заполнению</small></label>
        <div><br></div>
      </div>

      <div class="form-group">
        <label class="control-label" for="id_okpo">ОКПО:</label>
        <input class="form-control" disabled placeholder="19217469" type="text" name="okpo" maxlength="100" required="" value="{{ companyloc.okpo }}" id="id_okpo">
        <label class="control-label" for="id_okpo"><small>Тут комментарий по заполнению</small></label>
        <div><br></div>
      </div>

    </div>
  </div>

  {% load static %}
  <script src="{% static 'companies/js/register_loc_script.js' %}"></script>

</div>