{% extends 'companies/base.html' %}

{% block body %}
    <br><br><br>

    <div>
        <h2>Локальные профили</h2>
        <div class="container-fluid">
            <div class="row">
                <div class="row row-cols-3">
                    {% for company_loc in all_companies_loc %}
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 href="detail_loc/{{ company_loc.id }}/" class="card-title">{{ company_loc.company_name }}</h5>
                                <h6 class="card-subtitle mb-2 text-muted">{{ company_loc.company_type }}</h6>
                                <p class="card-text">Тел: {{ company_loc.tel }}</p>
                                <p class="card-text">E-mail: {{ company_loc.email }}</p>
                                <p class="card-text">ИНН: {{ company_loc.inn }}</p>
                            </div>
                        </div>


                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}