{% extends 'companies/base.html' %}


{% block body %}

    <br><br><br>
    <div class="container-fluid">
        <h2>Создаем новый профиль локальной компании</h2>
        <br><br>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg">
                    <label for="company_type" class="form-label">Тип компании</label><br>
                    <div class="input-group mb-3">
                        <form action="{% url 'companies:type_selected' %}" method="post">
                            {% csrf_token %}

                            <select class="form-select" id='company_type' aria-label="Default select example">
                                <option selected>Общество с ограниченной ответственностью</option>
                                <option value="1">Индивидуальный предприниматель</option>
                                <option value="2">Закрытое акционерное общество</option>
                                <option value="3">Открытое акционерное общество</option>
                            </select>
                            <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Button</button>
                        </form>
                    </div>
                    <p></p><em><small>Выберите из выпадающего списка и подтвердите</small></em></label></p>
                </div>
                <div class="col-lg">
                    <label for="company_name" class="form-label">Название компании</label><br>
                    <input type="text" class="form-control" id="company_name" placeholder='Мастодонт' disabled>
                    <p></p><em><small>Без сокращений, без капса (разве что аббревиатура), с большой буквы, без кавычек</small></em></label></p>
                </div>
                <div class="col-lg">
                    <label for="pos_per_acc" class="form-label">В лице</label><br>
                    <input type="text" class="form-control" id="pos_per_acc" placeholder='генерального директора Христозопуло Давида Виссарионовича' disabled>
                    <p></p><em><small>С маленькой буквы, с указанием должности, без сокращений, род. падеж</small></em></label></p>
                </div>
            </div>
            <br><br>
            <div class="row">
                <div class="col-lg">
                    <label for="position_nom" class="form-label">Должность ответственного лица</label><br>
                    <input type="text" class="form-control" id="position_nom" placeholder='Генеральный директор' disabled>
                    <p></p><em><small>С большой буквы, без сокращений, им. падеж</small></em></label></p>
                </div>
                <div class="col-lg">
                    <label for="person_nom" class="form-label">Полное имя ответственного лица</label><br>
                    <input type="text" class="form-control" id="person_nom" placeholder='Христозопуло Давид Виссарионович' disabled>
                    <p></p><em><small>ФИО, с большой буквы, без должности, без сокращений, им. падеж</small></em></label></p>
                </div>
                <div class="col-lg">
                    <label for="acting_on" class="form-label">Действующий на основании</label><br>
                    <input type="text" class="form-control" id="acting_on" placeholder='Устава' disabled>
                    <p></p><em><small>C большой буквы, без сокращений, род. падеж</small></em></label></p>
                </div>
            </div>
            <br><br>
            <div class="row">
                <div class="col-lg">
                    <label for="legal_addr" class="form-label">Юридический адрес</label><br>
                    <input type="text" class="form-control" id="legal_addr" placeholder='603001, г. Н. Новгород, ул. Кожевенная, дом 4, оф. 9' disabled>
                    <p></p><em><small>Индекс, (область), город, улица, дом, офис/квартира</small></em></label></p>
                </div>
                <div class="col-lg">
                    <label for="postal_addr" class="form-label">Почтовый адрес</label><br>
                    <input type="text" class="form-control" id="postal_addr" placeholder='603001, г. Н. Новгород, ул. Кожевенная, дом 4, оф. 9' disabled>
                    <p></p><em><small>Если совпадает с юридическим - оставить пустым</small></em></label></p>
                </div>
                <div class="col-lg"></div>
            </div>
            <br><br>
            <div class="row">
                <div class="col-lg">col-sm</div>
                <div class="col-lg">col-sm</div>
                <div class="col-lg">col-sm</div>
            </div>
        </div>

    </div>


{% endblock %}